#root {
  --primary: #5e3bee;
  --button: #e62872;
  --body: #1c1e53;
  --heading: #282938;
  --background: #f5fcff;
}

nav li a {
  color: var(--heading);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  padding: 0 1.5rem;
}

nav li a.active {
  color: var(--primary);
}
